* {
margin: 0;
padding: 0;
}


html {
font-family: 'Bubbler One';
font-weight: 700;
}


body {
font: 400 18px Oswald;
}

h1 {
padding: 50px 10px;
background: center/65% url(../hilma/bg.jpg);
font-family: Oswald;
font-size: 3rem;
letter-spacing: 0.1em;
text-align: center;
text-transform: uppercase;
border-bottom: 2px #ffe4e1 solid;
margin-bottom: 0;
}


h2 {
font-size: 62px;
letter-spacing: 0.02em;
padding: 0px 20px 5px 0px;
}


h3 {
font-size: 48px; 
font-weight: 500;
padding: 0px 20px 10px 0px;
}

.container {
	margin-top: 30px;
}

p {
font-size: 24px;
text-align: justify;
letter-spacing: 0.01em;
line-height: 1.7em;
padding-bottom: 20px;
}

li {
display: inline-block;
margin: auto;
list-style-type: none;
}

aside {
font-size: 0.8em;
font-style: italic;
font-weight: 100;
letter-spacing: 0.04em;
margin: 23px auto;
text-align: justify;
color: dimgray;   
}


a {
color: #9e050f;
opacity: 0.8;
}

a:link {
text-decoration: none;
}

a:hover {
color: #230103;
}

a[disabled] {
	color: inherit;
}
.active {
color: #230103;
text-decoration: underline;
}
.listitem, .lastitem {
font: 400 24px Oswald;
letter-spacing: 0.025em;
padding: 2px 10px;
}

.listitem {
border-right: 2px #230103 solid;
padding-right:30 15px;
}


.navigation {
background-color: #f9f2f0;
border-bottom: 2px #ffe4e1 solid;
text-align: center;
padding: 6px;
display: inline-block;
}
.navigation ul{
margin-bottom: 0;
}
.image {
max-height: 330px;
max-width: 300px;
padding-left: 5px;
}

footer {
background-color: #f9f2f0;
border-top: 1px rgba(190, 201, 214, 0.7) solid;
opacity: 0.9;
font: 100 14px;
width: 100%;
margin: auto;
margin-top: 150px;
padding-top: 10px;
text-align: center;
}

.gallery_horizontal {
    margin-bottom: 25px;
    margin-top: 20px;
}
.gallery_horizontal .gallery-piece {
	display: block;
}
.gallery_horizontal .gallery-piece span{
	position: static;
}

div.gallery {
background-color: #fff8f8;
border-top: 1px solid rgba(204, 158, 118, 0.4);
border-bottom: 1px solid rgba(204, 158, 118, 0.4);
clear: both;
display: inline-block;
margin: 25px auto;
padding: 40px 10px;
text-align: center;
width: 100%;
z-index: 4;
}


.v_gallery_item {
height: auto;
width: 100%;
}

.container_vertical .caption {
	top: -10px;
}

.v_container_item {
margin: auto;   
}

.gallery-piece {
	margin: 0 auto 10px auto;
	text-align: center;
	display: none;
}
.gallery-piece.current {
	display: block;
}
.gallery-piece.static {
	display: flex;
}
.gallery_item {
display: inline-block;
margin: 0 20px 0 20px;
height: 400px;
width: auto;
padding-top: 5px;
}
.gallery_controls {
	text-align: center;
	cursor: pointer;
}
.gallery_controls i {
    font-size: 82px;
    position: relative;
    top: 42%;
    opacity: 0.8;
    color: #03A9F4;
}
.gallery_controls i:hover {
	color: #455157;
}
div#gallery2{
width: 100%;
margin: auto;
}

div#legacyGallery {
background-color: white;
}


.gallery_item3 {
display: inline-block;
width: 100%;
height: 100%;
margin-bottom: 50px;
padding-top: 50px;
}

#hilma {
	padding-top: 150px;
}

.subheading, .first_section {
display: block;
text-align: center;
}


#academy {
padding-top: 150px;
}


.gallery-piece .caption {
border-bottom: 1px solid rgba(29, 32, 38, 0.2);
display: block;
font-family: 'Bubbler One';
font-size: 0.9em;
font-style: italic;
font-weight: 400;
letter-spacing: 0.02em;
flex-wrap: wrap;
position: relative;
bottom: -30px;
max-width: 300px;
margin: auto;
}

.gallery_item img {
	max-width: 300px; 
}
#spirit1Img {
top: 296px;
left: 134px;    
}
#spirit2Img {
top: 615px;
left: 134px;    
}

#museum, #exhbCentre {
margin: auto;  	
margin-top: -30px;
border-bottom: 1px solid rgba(29, 32, 38, 0.2);
font-family: 'Bubbler One';
font-size: 0.9em;
font-style: italic;
font-weight: 400;
letter-spacing: 0.02em;
}

@media (max-width: 576px) {
	.navigation li{
	display: block;
	text-align: left;
	margin-left: 20px;
	}
}

@media (max-width: 992px) {
   .container {
      width: 96%;
   }
}

@media (min-width: 1007px) {
	.container_vertical .gallery_controls {
		display: none;
	}
	.container_vertical .gallery-piece {
		display: block;
	}
}